@page "/"
@using Microondas.Models;
@using Microondas.Services.Contratos;
@using Microondas.Services;
@inject IProgramaAquecimentoCustomizadoService programaAquecimentoService

<PageTitle>Index</PageTitle>

<h3>Informe o Tempo e a Potência</h3>

<div>
    <label>Tempo (segundos):</label>
    <input @bind="tempoInformado" type="number"/>
</div>

<div>
    <label>Potência:</label>
    <input @bind="potenciaInformado" type="number"/>
</div>

<div>
    <button @onclick="() => IniciarAquecimento(tempoInformado, potenciaInformado)">Iniciar Aquecimento</button>
    <button @onclick="PausaCancelamento">Pausa/Cancelamento</button>
</div>

<p >@resultado</p>
<label>@processoAquecimento</label>

<h3>Programas Pré-definidos</h3>
@foreach (var programa in programasPreDefinidos)
{
    <div>
        <p>Nome: @programa.Nome</p>
        <p>Alimento: @programa.Alimento</p>
        <p>Tempo: @programa.Tempo</p>
        <p>Potencia: @programa.Potencia</p>
        <p>Instruções:@programa.Instrucoes</p>
        <button class="mb-3" @onclick="() => IniciarAquecimentoProgramaDefinido(programa.Tempo, programa.Potencia, programa.CaracterAquecimento)">Selecionar programa</button>
    </div>    
}

<h3>Programas Cadastrados</h3>
@foreach (var programa in programasDoBanco)
{
    <div>
        <p>Nome: @programa.Nome</p>
        <p>Alimento: @programa.Alimento</p>
        <p>Tempo: @programa.Tempo</p>
        <p>Potencia: @programa.Potencia</p>
        <p>Instruções:@programa.Instrucoes</p>
        <button class="mb-3" @onclick="() => IniciarAquecimentoProgramaDefinido(programa.Tempo, programa.Potencia, programa.CaracterAquecimento)">Selecionar programa</button>
    </div>    
}


@code{

    private string resultado;
    private string processoAquecimento;
    private string referenciaLabel;
    private int tempoInformado;
    private int tempoAquecimento;
    private int potenciaAquecimento;
    private int potenciaInformado;
    private bool aquecimentoExecucao = false;
    private bool aquecimentoEmPausa = false;
    private System.Timers.Timer temporizador = new System.Timers.Timer();
    private List<ProgramaAquecimento> programasPreDefinidos;
    private IEnumerable<ProgramaAquecimento> programasDoBanco;

    protected async override void OnInitialized()
    {
        ConfiguracaoTemporizador();



        programasPreDefinidos = new List<ProgramaAquecimento>
        {
            new ProgramaAquecimento
            {
                Nome = "Pipoca",
                Alimento = "Pipoca (de micro-ondas)",
                Tempo = 180,
                Potencia = 7,
                CaracterAquecimento = "#",
                Instrucoes = "Observar o barulho de estouros do milho, caso houver um intervalo de mais de 10 segundos entre um estouro e outro, interrompa o aquecimento."                     
            },
            new ProgramaAquecimento
            {
                Nome = "Leite",
                Alimento = "Leite",
                Tempo = 300,
                Potencia = 5,
                CaracterAquecimento = "$",
                Instrucoes = "Cuidado com aquecimento de líquidos, o choque térmico aliado ao movimento do recipiente pode causar fervura imediata causando risco de queimaduras."
            },
            new ProgramaAquecimento
            {
                Nome = "Carnes de boi",
                Alimento = ": Carne em pedaço ou fatias",
                Tempo = 840,
                Potencia = 4,
                CaracterAquecimento = "@",
                Instrucoes = " Interrompa o processo na metade e vire o conteúdo com a parte de baixo para cima para o descongelamento uniforme."
            },
            new ProgramaAquecimento
            {
                Nome = "Frango",
                Alimento = "Frango (qualquer corte)",
                Tempo = 420,
                Potencia = 7,
                CaracterAquecimento = "%",
                Instrucoes = " Interrompa o processo na metade e vire o conteúdo com a parte de baixo para cima para o descongelamento uniforme."
            },
            new ProgramaAquecimento
            {
                Nome = "Feijão",
                Alimento = "Feijão congelado",
                Tempo = 480,
                Potencia = 9,
                CaracterAquecimento = "*",
                Instrucoes = "Deixe o recipiente destampado e em casos de plástico, cuidado ao retirar o recipiente pois o mesmo pode perder resistência em altas temperaturas."
            }
        };

        programasDoBanco = await programaAquecimentoService.GetProgramasAquecimento();
    }

    public void IniciarAquecimento(int tempo, int potencia){
        string tempoFormatado;

        if(aquecimentoEmPausa){            
            temporizador.Start();
            aquecimentoEmPausa = false;
            return;
        }

        if(aquecimentoExecucao){
            tempoAquecimento += 30;
            resultado = $"Iniciando aquecimento com {tempoAquecimento} segundos e potência {potenciaAquecimento}";
            StateHasChanged();
            return;
        }
        
        if(tempo == 0 && potencia == 0){            
            InicioRapido();
            return;
        }

        if((tempo < 1 || tempo > 120)){
            resultado = "Insira um tempo válido entre 1 segundo e 2 minutos";
            return;
        }

        if((potencia < 1 || potencia > 10)){
            resultado = "Insira uma potencia válida entre 1 e 10";
            return;
        }

        if((tempo >= 60 && tempo < 100)){
            int minutos = tempo / 60;
            int segundos = tempo % 60;
            string formatoMinutos = minutos.ToString("D2");
            string formatoSegundos = segundos.ToString("D2");
            tempoFormatado = $"{formatoMinutos}:{formatoSegundos}";
        }else{
            tempoFormatado = $"{tempo} segundos";
        }

        tempoAquecimento = tempo;
        potenciaAquecimento = potencia;

        resultado = $"Iniciando aquecimento com {tempoFormatado} e potência {potencia}";
        aquecimentoExecucao = true;

        referenciaLabel = GerarStringLabel(potenciaAquecimento);

        temporizador.Start();   

    }

    public void IniciarAquecimentoProgramaDefinido(int tempo, int potencia, string caracterAquecimento){
        string tempoFormatado;

        tempoInformado = tempo;
        potenciaInformado = potencia;

        if(aquecimentoEmPausa){            
            temporizador.Start();
            aquecimentoEmPausa = false;
            return;
        }

        tempoAquecimento = tempo;
        potenciaAquecimento = potencia;

        resultado = $"Iniciando aquecimento com {tempoAquecimento} segundos e potência {potenciaAquecimento}";
        aquecimentoExecucao = true;

        referenciaLabel = GerarStringLabel(potenciaAquecimento, caracterAquecimento);

        temporizador.Start();

    }

    private void DecrementarTempo()
    {
        if (tempoAquecimento > 0)
        {
            tempoAquecimento--;
            processoAquecimento =  processoAquecimento + $" {referenciaLabel}";
            StateHasChanged();
        }
        else
        {
            temporizador.Stop();
            resultado = "Aquecimento concluído!";
            processoAquecimento += " Aquecimento concluído!";
            ResetarVariaveis();
            aquecimentoExecucao = false;

            StateHasChanged();
            resultado = "";
            processoAquecimento = "";
            referenciaLabel = "";
        }
    }

    private void InicioRapido(){          
        string tempo = $"{30} segundos";
        tempoAquecimento = 30;
        string potencia = "10";
        potenciaAquecimento = 10;
        resultado = $"Iniciando aquecimento com {tempo} e potência {potencia}";
        aquecimentoExecucao = true;

        processoAquecimento = GerarStringLabel(potenciaAquecimento);
        referenciaLabel = processoAquecimento;
        
        temporizador.Start();
    }

    private string GerarStringLabel(int potencia, string caracter = "."){
        string label = "";

        for(int i = 0; i < potencia; i++){
            label += caracter;
        }

        return label;
    }

    private void PausaCancelamento(){
        if(aquecimentoEmPausa){
            temporizador.Stop();
            resultado = "";
            processoAquecimento = "";
            aquecimentoExecucao = false;
            aquecimentoEmPausa = false;
            StateHasChanged();
            return;
        }

        if(aquecimentoExecucao == false){
            tempoInformado = 0;
            potenciaInformado = 0;
            return;
        }
        
        temporizador.Stop();
        aquecimentoEmPausa = true;
    }

    private void ResetarVariaveis(){
        tempoAquecimento = 0;
        processoAquecimento = "";
        potenciaInformado = 0;
        tempoInformado = 0;
        resultado = "";
    }

    private void ConfiguracaoTemporizador(){
        temporizador.Interval = 1000;
        temporizador.Elapsed += (source, e) => DecrementarTempo();
    }
}
